<template>
    <div class="text-gray-900 bg-gray-200 vld-parent">
        <loading :active.sync="isLoading" 
            :can-cancel="false" 
            :is-full-page="fullPage">
        </loading>
        <div class="p-4 flex justify-between items-center">
            <div>
                <h1 class="text-4xl font-bold fali-color">
                    Student Reports
                </h1>
                <p class="flex items-center text-gray-700 font-bold hover:text-orange-500"><svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg><a href="/sections">Back to Sections</a></p>
            </div>
            <div class="flex items-center">
                <div class="inline-block relative w-64 mx-4">
                    <select v-model="sectionID" @change="getStudents(page = 1)" class="block appearance-none w-full bg-white border border-orange-500 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                        <option value="">All</option>
                        <option v-for="section in sections" :value="section.id">{{ section.name }}</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
                <div class="relative text-gray-600 mr-4">
                    <input v-model="search" class="border border-orange-500 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                    type="search" name="search" placeholder="Search">
                    <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                            width="512px" height="512px">
                            <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                        </svg>
                    </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="px-3 py-4 flex justify-center">
            <table class="w-full text-md bg-white shadow-md rounded mb-4">
                <tbody>
                    <tr class="border-b">
                        <th class="text-left fali-color p-3 px-5">Full Name</th>
                        <th class="text-left fali-color p-3 px-5">Section</th>
                        <th></th>
                    </tr>
                    <tr v-for="student in students.data" class="border-b bg-gray-100 hover:bg-orange-200">
                        <td class="p-3 px-5"><p>{{ `${student.last_name}, ${student.first_name} ${student.middle_name}` }}</p></td>
                        <td class="p-3 px-5"><input type="text" :value="student.section.name" class="bg-transparent"></td>
                        <td class="p-3 px-5 flex justify-end">
                            <button @click="openGrades(student)" type="button" class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                                View Grades
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex px-3">
           <paginate
                :page-count="pagination.meta.last_page"
                :click-handler="getStudents"
                :prev-text="`<i class='fas fa-angle-left'></i><b class='focus:outline-none'> Prev</b>`"
                :next-text="`<b class='focus:outline-none'>Next </b><i class='fas fa-angle-right'></i>`"
                :container-class="'pagination'"
                class="flex justify-end focus:outline-none ml-auto"
                prev-class="text-sm mr-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                next-class="text-sm ml-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"  
                page-link-class="text-sm mt-10 mx-2 hover:bg-orange-700 text-bg-gray-800 py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                active-class="text-sm fali-bg hover:bg-orange-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                >
            </paginate>
        </div>
        <modal name="grades" draggable=".window-header" :height="'auto'" :width="'80%'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">{{ studentName }}</p>
                <button class="ml-auto text-white focus:outline-none" @click="closeModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div>
                <div class="shadow overflow-hidden rounded border-b border-gray-200">
                    <table class="w-full bg-white">
                    <thead class="bg-orange-500 text-white">
                        <tr>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Story</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Reading</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Comprehension</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">overall</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm"></th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        <tr class="w-full" v-for="(grade, index) in grades" :key="index">
                            <td class="w-3/6text-left py-3 px-4">
                                <p class="font-bold text-orange-500">
                                    {{ grade.reading_material.title }}
                                </p>
                            </td>
                            <td class="w-3/6text-left py-3 px-4">
                                <p class="font-bold">
                                    {{`${grade.reading}% -`}} {{ calculateReading(grade.reading) }}
                                </p>
                            </td>
                            <td class="w-3/6text-left py-3 px-4">
                                <p class="font-bold">
                                    {{`${grade.comprehension}% -`}} {{ calculateComprehension(grade.comprehension) }}
                                </p>
                            </td>
                            <td class="w-3/6text-left py-3 px-4">
                                <p class="font-bold">
                                    {{ calculateOverall(grade) }}
                                </p>
                            </td>
                            <td class="w-3/6text-left py-3 px-4">
                                <button @click="review(grade)" type="button" class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                    <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    Review Student Reading
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        data: () => ({
            isLoading: false,
            fullPage: true,
            isEdit: false,
            search: '',
            sectionID:'',
            isArchived: false,
            grades: {},
            studentName: '',
            reading: '',
            comprehension: '',
            sections: {}
        }),
        computed: {
            ...mapGetters({
                errors: 'student/errors',
                pagination: 'student/pagination',
                students: 'student/students',
            }),
        },
        watch: {
            search: _.debounce(function(newVal){
                this.getStudents(1)
            }, 200)
        },
        methods: {
            async getStudents(page = 1) {
                await this.$store.dispatch('student/getStudentList', {
                    params: {
                        page: page,
                        search: this.search,
                        section_id: this.sectionID
                    }
                })
            },
            getRole() {
                return this.app.is_admin
            },
            async openGrades(student) {
                this.$modal.show('grades')
                const response = await axios.get(`/grades/${student.id}`)
                this.grades = response.data.data
                this.studentName = `${student.last_name}, ${student.first_name}`
            },
            async review(student) {
                Swal.fire({
                    title: `${student.reading_material.title}`,
                    text: `${student.student_reading}`,
                })
            },
            closeModal() {
                this.$modal.hide('grades')
            },
            calculateReading(value) {
                if(value > 96) {
                    return 'Independent'
                }
                if(value > 89 && value < 97) {
                    return 'Instructional'
                }
                if(value < 90) {
                    return 'Frustration'
                }
            },
            calculateComprehension(value) {
                if(value > 79) {
                    return 'Independent'
                }
                if(value > 58 && value < 80) {
                    return 'Instructional'
                }
                if(value < 59) {
                    return 'Frustration'
                }
            },
            calculateOverall(grade) {
                var reading = this.calculateReading(grade.reading)
                var comprehension = this.calculateComprehension(grade.comprehension)
                if(reading == 'Independent' && comprehension == 'Independent') {
                    return 'Independent'
                } else if((reading == 'Independent' && comprehension == 'Instructional') || (reading == 'Instructional' && comprehension == 'Independent')) {
                    return 'Instructional'
                } else {
                    return 'Frustration'
                }
            },
            async getSections() {
                var response = await axios.get('/getAllSections')
                this.sections = response.data
            }
        },
        created() {
            this.getStudents()
            this.getSections()
        }
    }
</script>

<style lang="css">
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type=number] {
    -moz-appearance: textfield;
    }
</style>