<template>
    <div class="text-gray-900 bg-gray-200 vld-parent">
        <loading :active.sync="isLoading" 
            :can-cancel="false" 
            :is-full-page="fullPage">
        </loading>
        <div class="p-4 flex justify-between items-center">
            <div>
                <h1 class="text-4xl font-bold fali-color">
                    {{ section.name }} Students
                </h1>
                <p class="flex items-center text-gray-700 font-bold hover:text-orange-500"><svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg><a href="/sections">Back to Sections</a></p>
            </div>
            <div class="flex items-center">
                <div class="relative text-gray-600 mr-4">
                    <input v-model="search" class="border border-orange-500 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                    type="search" name="search" placeholder="Search">
                    <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                            width="512px" height="512px">
                            <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                        </svg>
                    </div>
                    </button>
                </div>
                <button v-if="getRole()" @click="addStudentModal" class="focus:outline-none ml-auto fali-bg hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                    <span>Add Student</span>
                </button>
                <button v-if="getRole()" @click="uploadModal" class="ml-2 focus:outline-none fali-bg hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    <span>Import CSV</span>
                </button>
                <button v-if="getRole()" @click="exportCsv" class="ml-2 mr-2 focus:outline-none fali-bg hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    <span>Export CSV</span>
                </button>
                <button v-show="getRole()" v-if="!isArchived" @click="archiveButton" class="focus:outline-none ml-auto fali-bg hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="18" y1="8" x2="23" y2="13"></line><line x1="23" y1="8" x2="18" y2="13"></line></svg>
                    <span>Archived Student</span>
                </button>
                <button v-else @click="archiveButton" class="focus:outline-none ml-auto fali-bg hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
                    <span>Active Student</span>
                </button>
            </div>
        </div>
        <div class="px-3 py-4 flex justify-center">
            <table class="w-full text-md bg-white shadow-md rounded mb-4">
                <tbody>
                    <tr class="border-b">
                        <th class="text-left fali-color p-3 px-5">Last Name</th>
                        <th class="text-left fali-color p-3 px-5">First Name</th>
                        <th class="text-left fali-color p-3 px-5">Middle Name</th>
                        <th class="text-left fali-color p-3 px-5">Username</th>
                        <th></th>
                    </tr>
                    <tr v-for="student in students.data" class="border-b bg-gray-100 hover:bg-orange-200">
                        <td class="p-3 px-5"><input type="text" :value="student.last_name" class="bg-transparent"></td>
                        <td class="p-3 px-5"><input type="text" :value="student.first_name" class="bg-transparent"></td>
                        <td class="p-3 px-5"><input type="text" :value="student.middle_name" class="bg-transparent"></td>
                        <td class="p-3 px-5"><input type="text" :value="student.username" class="bg-transparent"></td>
                        <td class="p-3 px-5 flex justify-end">
                            <!-- <a :href="`/quiz/${section.id}`" type="button" class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                                Quiz
                            </a> -->
                            <button @click="openGrades(student)" type="button" class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                                View Grades
                            </button>
                            <button v-if="getRole()" @click="editStudentModal(student)" type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                Edit
                            </button>
                            <button v-show="!isArchived" v-if="getRole()" @click="confirmDelete(student.id)" type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                Delete
                            </button>
                            <button v-show="isArchived" v-if="getRole()" @click="confirmDelete(student.id)" type="button" class="text-sm bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                Restore
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex px-3">
           <paginate
                :page-count="pagination.meta.last_page"
                :click-handler="getStudents"
                :prev-text="`<i class='fas fa-angle-left'></i><b class='focus:outline-none'> Prev</b>`"
                :next-text="`<b class='focus:outline-none'>Next </b><i class='fas fa-angle-right'></i>`"
                :container-class="'pagination'"
                class="flex justify-end focus:outline-none ml-auto"
                prev-class="text-sm mr-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                next-class="text-sm ml-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"  
                page-link-class="text-sm mt-10 mx-2 hover:bg-orange-700 text-bg-gray-800 py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                active-class="text-sm fali-bg hover:bg-orange-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                >
            </paginate>
        </div>
        <modal name="upload" draggable=".window-header" :height="'auto'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">Upload Csv</p>
                <button class="ml-auto text-white focus:outline-none" @click="closeModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div class="py-20 flex justify-center">
                <input type="file" @change="onChange" />
                <div class="flex justify-end mr-3 mb-4">
                    <div>
                        <button @click="upload()" class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                            <span>Upload Excel File</span>
                        </button>
                    </div>
                </div>
            </div>
        </modal>
        <modal name="form" draggable=".window-header" :height="'auto'" :width="'80%'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">Student Form</p>
                <button class="ml-auto text-white focus:outline-none" @click="closeModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div>
                <form @submit.prevent="submit">
                <div class="personal w-full border-t border-gray-400 pt-4 my-auto">
                    <div class="flex items-center justify-between">
                        <div class='w-full md:w-1/3 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >First Name<span class="text-red-500">*</span></label>
                            <input v-model="form.first_name" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-full md:w-1/3 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Middle Name<span class="text-red-500">*</span></label>
                            <input v-model="form.middle_name" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-full md:w-1/3 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Last Name<span class="text-red-500">*</span></label>
                            <input v-model="form.last_name" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class='w-full md:w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Birth Date<span class="text-red-500">*</span></label>
                            <input v-model="bdate" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='date'  required>
                        </div>
                        <div class='w-full md:w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Gender<span class="text-red-500">*</span></label>
                            <div class="flex">
                                <label class="inline-flex items-center mt-3">
                                    <input @click="form.gender = 1" type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" :checked="form.gender == 1"><span class="ml-2 text-gray-700 font-bold mr-8">Male</span>
                                </label>
                                <label class="inline-flex items-center mt-3">
                                    <input @click="form.gender = 0" type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" :checked="form.gender == 0"><span class="ml-2 text-gray-700 font-bold">Female</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class='w-full md:w-1/3 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Purok/Street<span class="font-black text-red-500">*</span></label>
                            <input v-model="form.prk" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-full md:w-1/3 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Barangay<span class="font-black text-red-500">*</span></label>
                            <input v-model="form.brgy" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-full md:w-1/3 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >City<span class="font-black text-red-500">*</span></label>
                            <input v-model="form.city" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                    </div>
                    <span class="text-red-500 ml-4">Input Atleast 1 Parent and 1 Contact Number</span>
                    <div class="flex items-center justify-between">
                        <div class='w-full md:w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Father's Name</label>
                            <input v-model="form.father_name" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-full md:w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Mother's Name</label>
                            <input v-model="form.mother_name" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class='w-full md:w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Contact No(Father)</label>
                            <div class="flex">
                                <div class="bg-orange-500 flex items-center">
                                    <p class="text-white px-2">+63</p>
                                </div>
                                <input v-model="form.father_contact_no" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text' pattern="[0-9]{10}" title="Input 10 Digit Number">
                            </div>
                        </div>
                        <div class='w-full md:w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Contact No(Mother)</label>
                            <div class="flex">
                                <div class="bg-orange-500 flex items-center">
                                    <p class="text-white px-2">+63</p>
                                </div>
                                <input v-model="form.mother_contact_no" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text' pattern="[0-9]{10}" title="Input 10 Digit Number">
                            </div>
                        </div>
                    </div>
                     <div class="flex justify-end mr-3 mb-4">
                        <div>
                            <button @click="saveStudent()" v-if="!isLoading" type="button" value="Submit" class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                <span>{{isEdit ? 'Update' : 'Save'}} Student</span>
                            </button>
                            <button v-else disabled class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                <span>Saving....</span>
                            </button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </modal>
        <modal name="grades" draggable=".window-header" :height="'auto'" :width="'80%'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">{{ studentName }}</p>
                <button class="ml-auto text-white focus:outline-none" @click="closeGradesModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div>
                <div class="shadow overflow-hidden rounded border-b border-gray-200">
                    <table class="w-full bg-white">
                    <thead class="bg-orange-500 text-white">
                        <tr>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Story</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Reading</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Comprehension</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">overall</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm"></th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        <tr class="w-full" v-for="(grade, index) in grades" :key="index">
                            <td class="w-3/6text-left py-3 px-4">
                                <p class="font-bold text-orange-500">
                                    {{ grade.reading_material.title }}
                                </p>
                            </td>
                            <td class="w-3/6text-left py-3 px-4">
                                <p class="font-bold">
                                    {{`${grade.reading} %`}} {{ calculateReading(grade.reading) }}
                                </p>
                            </td>
                            <td class="w-3/6text-left py-3 px-4">
                                <p class="font-bold">
                                    {{`${grade.comprehension} %`}} {{ calculateComprehension(grade.comprehension) }}
                                </p>
                            </td>
                            <td class="w-3/6text-left py-3 px-4">
                                <p class="font-bold">
                                    {{ calculateOverall(grade) }}
                                </p>
                            </td>
                            <td class="w-3/6text-left py-3 px-4">
                                <button @click="review(grade)" type="button" class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                    <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    Review Student Reading
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { XlsxRead, XlsxTable } from "vue-xlsx/dist/vue-xlsx.es.js"

    export default {
        components: {
            XlsxRead,
            XlsxTable
        },

        data: () => ({
            isLoading: false,
            fullPage: true,
            isEdit: false,
            search: '',
            isArchived: false,
            studentName: '',
            messages: [],
            grades:{},
            form: {
                id:'',
                first_name: '',
                middle_name: '',
                last_name: '',
                password: '',
                birthdate: '',
                gender: 1,
                prk: '',
                brgy: '',
                city: '',
                father_name:'',
                mother_name:'',
                father_contact_no:'',
                mother_contact_no:'',
                section_id:'',
            },
            file: null,
            bdate: ''
        }),
        computed: {
            ...mapGetters({
                errors: 'student/errors',
                pagination: 'student/pagination',
                students: 'student/students'
            }),
        },
        watch: {
            search: _.debounce(function(newVal){
                this.getStudents(1)
            }, 200),
            bdate:  _.debounce(function(newVal){
                this.checkBirthdate(newVal)
            }, 200),
        },
        props: {
            section: {
                type: Object,
            },
        },
        methods: {
            async review(student) {
                Swal.fire({
                    title: `${student.reading_material.title}`,
                    text: `${student.student_reading}`,
                })
            },
            checkBirthdate(bdate) {
                var parts = bdate.match(/(\d+)/g);
                var newInput = new Date(parts[0], parts[1]-1, parts[2]);
                var ageDifMs = Date.now() - newInput.getTime();
                var ageDate = new Date(ageDifMs); // miliseconds from epoch
                var age = Math.abs(ageDate.getUTCFullYear() - 1970);
                if(age < 4) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...Child is to young',
                        text: '',
                    })
                } else {
                    this.form.birthdate = bdate 
                }
            },
            async submit() {
                await this.checkFields();
                if(this.messages.length > 0) {
                    var message = '';
                    for(var ctr = 0; ctr < this.messages.length; ctr++) {
                        message = message +'*'+ this.messages[ctr] + '  '
                    }
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...Please Fill The Following',
                        text: message,
                    })
                    return
                }
                this.saveStudent()
            },
            clearForm() {
                this.form.first_name = ''
                this.form.middle_name = ''
                this.form.last_name = ''
                this.form.birthdate = '',
                this.form.gender = 1,
                this.form.prk = '',
                this.form.brgy = '',
                this.form.city = '',
                this.form.father_name = '',
                this.form.mother_name = '',
                this.form.father_contact_no = '',
                this.form.mother_contact_no = '', 
                this.form.id = this.section.id
            },
            checkFields() {
                var message = [];
                if(this.form.first_name == ''){message.push('First Name')}
                if(this.form.middle_name == ''){message.push('Middle Name')}
                if(this.form.last_name == ''){message.push('Last Name')}
                if(this.form.gender == null){message.push('Gender')}
                if(this.form.birthdate == ''){message.push('Birth Date')}
                if(this.form.father_name == '' && this.form.mother_name == ''){message.push('Input Guardian Name Instead in The Father or Mother')}
                if(this.form.father_contact_no == '' && this.form.mother_contact_no == ''){message.push('Please Provide Atleast 1 Contact Number')}
                this.messages = message;
                return
            },
            archiveButton() {
                this.isArchived = !this.isArchived
                if(this.isArchived) {
                    this.archiveStudents()
                } else {
                    this.getStudents()
                }
            },
            addStudentModal() {
                this.isEdit = false
                this.clearForm();
                this.openModal();
            },
            async archiveStudents(page = 1) {
                await this.$store.dispatch('student/archivedStudents', {
                    params: {
                        page: page,
                        search: this.search,
                        id: this.section.id
                    }
                })
            },
            async getStudents(page = 1) {
                await this.$store.dispatch('student/getStudents', {
                    params: {
                        page: page,
                        search: this.search,
                        id: this.section.id
                    }
                })
            },
            async saveStudent() {
                await this.checkFields();
                if(this.messages.length > 0) {
                    var message = '';
                    for(var ctr = 0; ctr < this.messages.length; ctr++) {
                        message = message +'*'+ this.messages[ctr] + '  '
                    }
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...Please Fill The Following',
                        text: message,
                    })
                    return
                }
                this.isLoading = true
                if(this.isEdit) {
                    await this.$store.dispatch('student/updateStudent', this.form)
                    if(Object.keys(this.errors).length == 0) {
                        this.getStudents();
                        this.closeModal();
                    }
                } else {
                    await this.$store.dispatch('student/addStudent', this.form)
                    if(Object.keys(this.errors).length == 0) {
                        this.getStudents();
                        this.closeModal();
                    }
                }
                this.isLoading = false
            },
            editStudentModal(student) {
                this.isEdit = true
                this.form.id = student.id
                this.form.first_name = student.first_name
                this.form.middle_name = student.middle_name
                this.form.last_name = student.last_name
                this.form.username = student.username
                this.form.birthdate = student.birth_date
                this.form.gender = student.gender
                this.form.father_name = student.father_name
                this.form.mother_name = student.mother_name
                this.form.father_contact_no = student.father_contact_no
                this.form.mother_contact_no = student.mother_contact_no
                this.form.prk = student.prk
                this.form.brgy = student.brgy
                this.form.city = student.city
                this.openModal()
            },
            confirmDelete (id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: this.isArchived ? "Student will be restored" : "Student will be deleted" ,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: this.isArchived ? 'Yes, Restore it' : 'Yes, Delete it'
                }).then((result) => {
                    if (result.value) {
                        this.deleteStudent(id)
                    }
                }) 
            },
            async deleteStudent (id) {
                this.isLoading = true
                if(this.isArchived) {
                    await this.$store.dispatch('student/restoreStudent', { id: id })
                } else {
                    await this.$store.dispatch('student/deleteStudent', { id: id })
                }
                this.archiveButton()
                this.getStudents()
                this.isLoading = false
            },
            uploadModal() {
                this.$modal.show('upload')
            },
            openModal() {
                this.$modal.show('form')
            },
            closeModal() {
                this.$modal.hide('form')
                this.$modal.hide('upload')
            },
            getRole() {
                return this.app.is_admin
            },
            onChange(event) {
                this.file = event.target.files ? event.target.files[0] : null;
            },
            async upload() {
                this.isLoading = true
                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('id', this.section.id);
                const response = await axios.post(`/student-upload/${this.section.id}`, formData)
                this.closeModal();
                this.getStudents();
                this.isLoading = false
            },
            async exportCsv() {
                this.isLoading = true
                window.open(`/student-export/${this.section.id}`);
                this.isLoading = false
            },
            async openGrades(student) {
                this.$modal.show('grades')
                const response = await axios.get(`/grades/${student.id}`)
                this.grades = response.data.data
                this.studentName = `${student.last_name}, ${student.first_name}`
            },
            closeGradesModal() {
                this.$modal.hide('grades')
            },
            calculateReading(value) {
                if(value > 96) {
                    return 'Independent'
                }
                if(value > 89 && value < 97) {
                    return 'Instructional'
                }
                if(value < 90) {
                    return 'Frustration'
                }
            },
            calculateComprehension(value) {
                if(value > 79) {
                    return 'Independent'
                }
                if(value > 58 && value < 80) {
                    return 'Instructional'
                }
                if(value < 59) {
                    return 'Frustration'
                }
            },
            calculateOverall(grade) {
                var reading = this.calculateReading(grade.reading)
                var comprehension = this.calculateComprehension(grade.comprehension)
                if(reading == 'Independent' && comprehension == 'Independent') {
                    return 'Independent'
                } else if((reading == 'Independent' && comprehension == 'Instructional') || (reading == 'Instructional' && comprehension == 'Independent')) {
                    return 'Instructional'
                } else {
                    return 'Frustration'
                }
            }
        },
        created() {
            this.getStudents()
            this.form.section_id = this.section.id
        }
    }
</script>

<style lang="css">
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type=number] {
    -moz-appearance: textfield;
    }
</style>