<template>
    <div class="text-gray-900 bg-gray-200 vld-parent">
        <loading :active.sync="isLoading" 
            :can-cancel="false" 
            :is-full-page="fullPage">
        </loading>
        <div class="p-4 flex justify-between items-center">
            <div>
                <h1 class="text-4xl font-bold fali-color">
                    Video Simulations
                </h1>
            </div>
            <div class="flex items-center">
                <div class="relative text-gray-600 mr-4">
                    <input v-model="search" class="border border-orange-500 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                    type="search" name="search" placeholder="Search">
                    <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                                width="512px" height="512px">
                                <path
                                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                            </svg>
                        </div>
                    </button>
                </div>
                <button @click="uploadVideoModal" class="focus:outline-none ml-auto fali-bg hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line></svg>
                    <span>Upload Video</span>
                </button>
            </div>
        </div>
        <div class="px-3 py-4 flex justify-center">
            <table class="w-full text-md bg-white shadow-md rounded mb-4">
                <tbody>
                    <tr class="border-b">
                        <th></th>
                        <th class="text-left fali-color p-3 px-5">Title</th>
                        <th class="text-left fali-color p-3 px-5">Uploader</th>
                        <th></th>
                    </tr>
                    <tr v-for="simulation in simulations.data" class="border-b bg-gray-100 hover:bg-orange-200">
                        <td class="p-3 px-5">
                            <div class="w-16">
                                <img :src="simulation.thumbnail" alt="">
                            </div>
                        </td>
                        <td class="p-3 px-5"><input type="text" :value="simulation.title" class="bg-transparent font-bold"></td>
                        <td class="p-3 px-5"><input type="text" :value="simulation.uploader" class="bg-transparent"></td>
                        <td class="p-3 px-5 flex justify-end">
                            <button @click="watchVideo(simulation)" type="button" class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex items-center">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-1"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                Watch Video
                            </button>
                            <button @click="editSimulationModal(simulation)" type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex items-center">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                Edit
                            </button>
                            <button @click="confirmDelete(simulation.id)" type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex items-center">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex px-3">
           <paginate
                :page-count="pagination.meta.last_page"
                :click-handler="getSimulations"
                :prev-text="`<i class='fas fa-angle-left'></i><b class='focus:outline-none'> Prev</b>`"
                :next-text="`<b class='focus:outline-none'>Next </b><i class='fas fa-angle-right'></i>`"
                :container-class="'pagination'"
                class="flex justify-end focus:outline-none ml-auto"
                prev-class="text-sm mr-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                next-class="text-sm ml-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"  
                page-link-class="text-sm mt-10 mx-2 hover:bg-orange-700 text-bg-gray-800 py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                active-class="text-sm fali-bg hover:bg-orange-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                >
            </paginate>
        </div>
        <modal name="video" draggable=".window-header" :height="'auto'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">Simulation</p>
                <button class="ml-auto text-white focus:outline-none" @click="closeModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div>
                <div class="personal w-full border-t border-gray-400 pt-4 my-auto">
                    <div class="items-center justify-between">
                        <b class="fali-color px-3 text-xl">{{ simulation.title }}</b>
                        <div class='w-full px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Uploaded by: <b class="font-bold text-base">{{ simulation.uploader }}</b></label>
                        </div>
                    </div>
                    <div class="w-full px-5 mb-4">
                        <video width="100%" height="100" :src="simulation.url" :type="simulation.file_type" controls></video>
                    </div>
                </div>
            </div>
        </modal>
        <modal name="form" draggable=".window-header" :height="'auto'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">Section Form</p>
                <button class="ml-auto text-white focus:outline-none" @click="closeModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div>
                <div class="personal w-full border-t border-gray-400 pt-4 my-auto">
                    <div class="flex items-center justify-between mt-4">
                        <div class='w-full px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>Title</label>
                            <input v-model="form.title" class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' type='text'  required>
                        </div>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <div class='w-full px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>Thumbnail</label>
                             <input @change="thumbnailChange" type="file" id="myFile" name="filename" accept='image/*'>
                        </div>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <div v-if="simulation.url != ''" class='w-full px-3 mb-4'>
                            <div class="w-full px-5 flex justify-center">
                                <video width="50%" height="100" :src="simulation.url" :type="simulation.file_type" controls></video>
                            </div>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="flex w-full items-center justify-center bg-grey-700">
                            <label class="w-64 ml-2 flex flex-col items-center px-4 py-2 border-orange-500 bg-white hover:bg-orange-500 text-orange-500 hover:text-white rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer">
                                <svg class="w-8 h-8 bg-grey-700" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                                </svg>
                                <span class="mt-1 text-sm leading-normal">{{ isEdit ? 'Change Video' : 'Select Video' }}</span>
                                <input type='file' class="hidden" @change="videoChange" accept="video/mp4,video/x-m4v,video/*"/>
                            </label>
                        </div>
                    </div>
                    <div class="flex justify-center mt-3 mb-4">
                        <div>
                            <button v-if="!isLoading" @click="saveSimulation" class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line></svg>
                                <span>{{isEdit ? 'Update' : 'Save'}} Video</span>
                            </button>
                            <button v-else disabled class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line></svg>
                                <span>Saving....</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        data: () => ({
            isLoading: false,
            fullPage: true,
            search: '',
            video: null,
            video_url: '',
            thumbnail: null,
            thumbnail_url: '',
            isEdit: false,
            form: {
                id: '',
                title: '',
            },
            simulation: {
                url:'',
                thumb_url:'',
                uploader:'',
                extension:'',
                title:''
            }
        }),
        watch: {
            search: _.debounce(function(newVal){
                this.getSimulations(1)
            }, 200)
        },
        computed: {
            ...mapGetters({
                errors: 'simulation/errors',
                simulations: 'simulation/simulations',
                pagination: 'simulation/pagination',
            }),
        },
        methods: {
            uploadVideoModal() {
                this.isEdit = false
                this.form.id = ''
                this.form.title = ''
                this.video = null
                this.thumbnail = null
                this.openModal()
            },
            watchVideo(video) {
                this.simulation.title = video.title,
                this.simulation.url = video.video,
                this.simulation.extension = video.file_type,
                this.simulation.uploader = video.uploader
                this.openVideoModal()
            },
            async getSimulations(page = 1) {
                await this.$store.dispatch('simulation/getSimulations', {
                    params: {
                        page: page,
                        search: this.search
                    }
                })
            },
            async saveSimulation() {
                this.isLoading = true
                let formData = new FormData();
                formData.append('video', this.video);
                formData.append('thumbnail', this.thumbnail);
                formData.append('title', this.form.title);
                formData.append('id', this.form.id);
                if(this.isEdit) {
                    await this.$store.dispatch('simulation/updateSimulation', formData)
                    if(Object.keys(this.errors).length == 0) {
                        this.getSimulations();
                        this.closeModal();
                    }
                } else {
                    await this.$store.dispatch('simulation/saveSimulation', formData)
                    if(Object.keys(this.errors).length == 0) {
                        this.getSimulations();
                        this.closeModal();
                    }
                }
                this.isLoading = false
            },
            confirmDelete (id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Simulation will be deleted",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteSimulation(id)
                    }
                }) 
            },
            async deleteSimulation (id) {
                this.isLoading = true
                await this.$store.dispatch('simulation/deleteSimulation', { id: id })
                this.getSimulations()
                this.isLoading = false
            },
            editSimulationModal(simulation) {
                this.isEdit = true
                this.form.id = simulation.id
                this.form.title = simulation.title
                this.simulation.title = simulation.title,
                this.simulation.url = simulation.video,
                this.thumbnail_url = simulation.thumbnail,
                this.simulation.extension = simulation.file_type,
                this.simulation.uploader = simulation.uploader
                this.openModal();
            },
            openModal() {
                this.$modal.show('form')
            },
            openVideoModal() {
                this.$modal.show('video')
            },
            closeModal() {
                this.$modal.hide('form')
                this.$modal.hide('video')
            },
            videoChange() {
                this.video = event.target.files[0]
                this.simulation.url = URL.createObjectURL(this.video);
                this.simulation.file_type = event.target.files[0].type
            },
            thumbnailChange() {
                this.thumbnail = event.target.files[0]
                this.thumbnail_url = URL.createObjectURL(this.thumbnail);
            },
        },
        created() {
            this.getSimulations();
        }
    }
</script>