<template>
    <div class="text-gray-900 bg-gray-200 vld-parent">
        <loading :active.sync="isLoading" 
            :can-cancel="false" 
            :is-full-page="fullPage">
        </loading>
        <div class="p-4 flex justify-between items-center">
            <div>
                <h1 v-if="getRole()" class="text-4xl font-bold fali-color">
                    Sections
                </h1>
                <h1 v-else class="text-4xl font-bold fali-color">
                    My Sections
                </h1>
            </div>
            <div class="flex items-center">
                <div class="relative text-gray-600 mr-4">
                    <input v-model="search" class="border border-orange-500 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                    type="search" name="search" placeholder="Search">
                    <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                            width="512px" height="512px">
                            <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                        </svg>
                    </div>
                    </button>
                </div>
                <button v-if="getRole()" @click="addSectionModal" class="focus:outline-none ml-auto fali-bg hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
                    <span>Add Section</span>
                </button>
                <button v-show="getRole()" v-if="!isArchived" @click="archiveButton" class="focus:outline-none fali-bg hover:bg-orange-700 text-white font-bold py-2 ml-2 px-4 rounded inline-flex items-center">
                    <span>Archived Sections</span>
                </button>
                <button v-else @click="archiveButton" class="focus:outline-none fali-bg hover:bg-orange-700 ml-2 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <span>Active Sections</span>
                </button>
            </div>
        </div>
        <div class="px-3 py-4 flex justify-center">
            <table class="w-full text-md bg-white shadow-md rounded mb-4">
                <tbody>
                    <tr class="border-b">
                        <th class="text-left fali-color p-3 px-5">Section</th>
                        <th v-if="getRole()" class="text-left fali-color p-3 px-5">teacher</th>
                        <th></th>
                    </tr>
                    <tr v-for="section in sections.data" class="border-b hover:bg-orange-100 bg-gray-100">
                        <td class="p-3 px-5"><input type="text" :value="section.name" class="bg-transparent"></td>
                        <td v-if="getRole()" class="p-3 px-5">{{ section.teacher != null ? `${section.teacher.last_name}, ${section.teacher.first_name}` : '' }}</td>
                        <td class="p-3 px-5 flex justify-end">
                            <a v-show="!getRole()" :href="`/materials/${section.id}`" type="button" class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-1"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                                Reading Materials
                            </a>
                            <a v-show="!isArchived" :href="`/students/${section.id}`"  type="button" class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                Students
                            </a>
                            <button v-if="getRole()" @click="editSectionModal(section)" type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                Edit
                            </button>
                            <button v-show="!isArchived" v-if="getRole()" @click="confirmDelete(section.id)" type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                Archived
                            </button>
                             <button v-show="isArchived" v-if="getRole()" @click="confirmDelete(section.id)" type="button" class="text-sm bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                Restore
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex px-3">
           <paginate
                :page-count="pagination.meta.last_page"
                :click-handler="getSections"
                :prev-text="`<i class='fas fa-angle-left'></i><b class='focus:outline-none'> Prev</b>`"
                :next-text="`<b class='focus:outline-none'>Next </b><i class='fas fa-angle-right'></i>`"
                :container-class="'pagination'"
                class="flex justify-end focus:outline-none ml-auto"
                prev-class="text-sm mr-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                next-class="text-sm ml-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"  
                page-link-class="text-sm mt-10 mx-2 hover:bg-orange-700 text-bg-gray-800 py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                active-class="text-sm fali-bg hover:bg-orange-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                >
            </paginate>
        </div>
        <modal name="form" draggable=".window-header" :height="230" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">Section Form</p>
                <button class="ml-auto text-white focus:outline-none" @click="closeModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div>
                <div class="personal w-full border-t border-gray-400 pt-4 my-auto">
                    <div class="flex items-center justify-between mt-4">
                        <div class='w-full px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Name</label>
                            <input v-model="form.name" class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' type='text'  required>
                        </div>
                        <div v-if="getRole()" class='w-full px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Assign Teacher</label>
                            <select v-model="form.teacher_id" class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' type='text'  required>
                                <option selected value="0">None</option>
                                <option v-for="teacher in teachers" :value="teacher.id">{{ teacher.last_name+', '+teacher.first_name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <button v-if="!isLoading" @click="saveSection" class="focus:outline-none ml-auto fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
                            <span>{{isEdit ? 'Update' : 'Create'}} Section</span>
                        </button>
                        <button v-else disabled class="focus:outline-none ml-auto fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
                            <span>Saving....</span>
                        </button>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        data: () => ({
            isLoading: false,
            fullPage: true,
            isEdit: false,
            search: '',
            isArchived: false,
            form: {
                id: '',
                name: '',
                teacher_id: 0,
            }
        }),
        watch: {
            search: _.debounce(function(newVal){
                this.getSections(1)
            }, 200)
        },
        computed: {
            ...mapGetters({
                errors: 'section/errors',
                sections: 'section/sections',
                pagination: 'section/pagination',
                teachers: 'teacher/teachers'
            }),
        },
        methods: {
            archiveButton() {
                this.isArchived = !this.isArchived
                if(this.isArchived) {
                    this.archiveSections()
                } else {
                    this.getSections()
                }
            },
            async archiveSections(page = 1) {
                await this.$store.dispatch('section/archivedSections', {
                    params: {
                        page: page,
                        search: this.search
                    }
                })
            },
            getLastPage() {
                if(this.pagination.meta.last_page === undefined) {
                    return 0
                } else {
                   return this.pagination.meta.last_page 
                }
            },
            async getSections(page = 1) {
                await this.$store.dispatch('section/getSections', {
                    params: {
                        page: page,
                        search: this.search
                    }
                })
            },
            async getTeachers() {
                await this.$store.dispatch('teacher/getTeachers')
            },
            addSectionModal() {
                this.isEdit = false
                this.form.name = ''
                this.form.id = ''
                this.openModal()
            },
            async saveSection() {
                this.isLoading = true
                if(this.isEdit) {
                    await this.$store.dispatch('section/updateSection', this.form)
                    if(Object.keys(this.errors).length == 0) {
                        this.getSections();
                        this.closeModal();
                    }
                } else {
                    await this.$store.dispatch('section/saveSection', this.form)
                    if(Object.keys(this.errors).length == 0) {
                        this.getSections();
                        this.closeModal();
                    }
                }
                this.isLoading = false
            },
            editSectionModal(section) {
                this.isEdit = true;
                this.form.id = section.id
                this.form.name = section.name
                this.form.teacher_id = section.teacher != null ? section.teacher.id : 0
                this.openModal();
            },
            async deleteSection (id) {
                this.isLoading = true
                if(this.isArchived) {
                    await this.$store.dispatch('section/restoreSection', { id: id })
                } else {
                    await this.$store.dispatch('section/deleteSection', { id: id })
                }
                this.archiveButton()
                this.getSections()
                this.isLoading = false
            },
            confirmDelete (id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Section will be deleted",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: this.isArchived ? 'Yes Restore it' : 'Yes, delete it'
                }).then((result) => {
                    if (result.value) {
                        this.deleteSection(id)
                    }
                }) 
            },
            openModal() {
                this.$modal.show('form')
            },
            closeModal() {
                this.$modal.hide('form')
            },
            getRole() {
                return this.app.is_admin
            }
        },
        created() {
            this.getSections();
            this.getTeachers();
        }
    }
</script>