<template>
    <div class="text-gray-900 bg-gray-200 vld-parent">
        <loading :active.sync="isLoading" 
            :can-cancel="false" 
            :is-full-page="fullPage">
        </loading>
        <div class="p-4 flex justify-between items-center">
            <div>
                <h1 class="text-4xl font-bold fali-color">
                    {{ material.name }} Questions
                </h1>
                <p class="flex items-center text-gray-700 font-bold hover:text-orange-500"><svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg><a :href="`/materials/${section.id}`">Back to Materials</a></p>
            </div>
            <div class="flex items-center">
                <div class="relative text-gray-600 mr-4">
                    <input v-model="search" class="border border-orange-500 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                    type="search" name="search" placeholder="Search">
                    <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                            width="512px" height="512px">
                            <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                        </svg>
                    </div>
                    </button>
                </div>
                <button @click="addQuestionModal" class="focus:outline-none ml-auto fali-bg hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg viewBox="0 0 24 24" width="21" height="21" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                    <span>Add Question</span>
                </button>
            </div>
        </div>
        <div class="px-3 py-4 flex justify-center">
            <table class="w-full text-md bg-white shadow-md rounded mb-4">
                <tbody>
                    <tr class="border-b">
                        <th class="text-left fali-color p-3 px-5">Question</th>
                        <th></th>
                    </tr>
                    <tr v-for="quiz in quizzes.data" class="border-b hover:bg-orange-100 bg-gray-100">
                        <td class="p-3 px-5"><input type="text" :value="quiz.question" class="bg-transparent"></td>
                        <td class="p-3 px-5 flex justify-end">
                            <button @click="editQuestionModal(quiz)" type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                Edit
                            </button>
                            <button @click="confirmDelete(quiz.id)" type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex px-3">
           <paginate
                :page-count="pagination.meta.last_page"
                :click-handler="getQuizzes"
                :prev-text="`<i class='fas fa-angle-left'></i><b class='focus:outline-none'> Prev</b>`"
                :next-text="`<b class='focus:outline-none'>Next </b><i class='fas fa-angle-right'></i>`"
                :container-class="'pagination'"
                class="flex justify-end focus:outline-none ml-auto"
                prev-class="text-sm mr-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                next-class="text-sm ml-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"  
                page-link-class="text-sm mt-10 mx-2 hover:bg-orange-700 text-bg-gray-800 py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                active-class="text-sm fali-bg hover:bg-orange-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                >
            </paginate>
        </div>
        <modal name="form" draggable=".window-header" :height="'auto'" :width="'90%'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">Create Question</p>
                <button class="ml-auto text-white focus:outline-none" @click="closeModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div>
                <div class="personal w-full border-t border-gray-400 pt-4 my-auto">
                    <div class="flex">
                        <div class="w-1/2">
                            <div class="w-full">
                                <div class="flex w-full items-center justify-center bg-grey-700">
                                    <label class="w-64 flex flex-col items-center px-4 py-2 border-orange-500 bg-white hover:bg-orange-500 text-orange-500 hover:text-white rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer">
                                        <svg class="w-8 h-8 bg-grey-700" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                            <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                                        </svg>
                                        <span class="mt-1 text-sm leading-normal">{{ this.filename != '' ? 'Change Image' : 'Select Image' }}</span>
                                        <input type='file' class="hidden" @change="fileChange" accept='image/*'/>
                                    </label>
                                </div>
                            </div>
                            <div class="flex items-center justify-between mt-4">
                                <div class='w-full px-3 mb-4'>
                                    <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Question</label>
                                    <input v-model="form.question" class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' type='text'  required>
                                </div>
                            </div>
                            <div class="flex items-center justify-between mt-4">
                                <div class='w-full px-3 mb-4 flex'>
                                    <label class='text-base block uppercase tracking-wide text-gray-700 font-bold mb-2' >Choices</label>
                                    <button @click="addChoices()" class="focus:outline-none ml-auto fali-bg hover:bg-orange-700 text-white font-bold py-1 px-2 rounded inline-flex items-center">
                                        <svg viewBox="0 0 24 24" width="15" height="15" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
                                        <span class="text-sm">Add Choice</span>
                                    </button>
                                </div>
                            </div>
                            <div class="flex flex-wrap items-center justify-between mt-4">
                                <div v-for="(choice, index) in form.choices" class='w-1/2 flex px-3 mb-2'>
                                    <div class='w-3/4 px-3 mb-4'>
                                        <input v-model="choice.choice" class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-2 px-3 leading-tight focus:outline-none  focus:border-gray-500' type='text'  required>
                                    </div>
                                    <div class='w-1/4 px-3 mb-4'>
                                        <button class="ml-auto text-orange-500 focus:outline-none" @click="removeChoice(index)">
                                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-center justify-between mt-4">
                                <div class='w-full px-3 mb-4'>
                                    <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Answer</label>
                                    <select v-model="form.answer" class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' type='text'  required>
                                        <option v-for="choice in form.choices" :value="choice.choice">{{ choice.choice }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="flex justify-center mt-3 mb-4">
                                <div>
                                    <button v-if="!isLoading" @click="saveQuiz()" class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        <span>{{isEdit ? 'Update' : 'Save'}} Question</span>
                                    </button>
                                    <button v-else disabled class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        <span>Saving....</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/2 mr-3">
                            <p class="text-2xl font-bold text-orange-500">Preview:</p>
                            <div class="border border-orange-500 w-full rounded pb-4">
                                <div class="bg-orange-200 py-4">
                                    <p v-if="fileurl == ''" class="ml-4 text-gray-800 font-bold">This Image is sample only please upload some to change</p>
                                    <img :src="fileurl ? fileurl : '/images/sample.png'" class="object-contain h-48 w-full ...">
                                </div>
                                <div class="text-xl py-4 px-4 font-bold w-full">
                                    <p>{{ form.question }}</p>
                                </div>
                                <div class="w-full flex content-start flex-wrap">
                                    <div class="w-1/2 text-center px-4 py-4" v-for="choice in form.choices">
                                        <button @click="selected = choice.choice" :class="choice.choice == selected ? 'bg-orange-500 text-white' : 'text-orange-700'" class="bg-transparent w-full hover:bg-orange-500 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded">
                                            {{ choice.choice }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        data: () => ({
            isLoading: false,
            fullPage: true,
            isEdit: false,
            search: '',
            quiz_img: null,
            filename: '',
            fileurl:'',
            selected:'',
            form: {
                id:'',
                question: '',
                answer: '',
                choices: [
                    {
                        choice: ''
                    }
                ]
            }
        }),
        computed: {
            ...mapGetters({
                errors: 'quiz/errors',
                pagination: 'quiz/pagination',
                quizzes: 'quiz/quizzes'
            }),
        },
        watch: {
            search: _.debounce(function(newVal){
                this.getQuizzes(1)
            }, 200)
        },
        props: {
            material: {
                type: Object,
            },
            section: {
                type: Object
            }
        },
        methods: {
            clearForm() {
                this.form.id = this.material.id
                this.form.question = ''
                this.form.answer = ''
                this.form.choices = [
                    {
                        choice: ''
                    }
                ]
            },
            async getQuizzes(page = 1) {
                await this.$store.dispatch('quiz/getQuizzes', {
                    params: {
                        page: page,
                        search: this.search,
                        id: this.material.id
                    }
                })
            },
            async saveQuiz() {
                this.isLoading = true
                let formData = new FormData();
                formData.append('quiz_img', this.quiz_img);
                formData.append('id', this.form.id);
                formData.append('question', this.form.question);
                formData.append('choices', JSON.stringify(this.form.choices));
                formData.append('answer', this.form.answer);
                if(this.isEdit) {
                    await this.$store.dispatch('quiz/updateQuiz', formData)
                    if(Object.keys(this.errors).length == 0) {
                        this.getQuizzes();
                        this.closeModal();
                    }
                } else {
                    await this.$store.dispatch('quiz/saveQuiz', formData)
                    if(Object.keys(this.errors).length == 0) {
                        this.getQuizzes();
                        this.closeModal();
                    }
                }
                this.isLoading = false
            },
            removeChoice(index) {
                this.form.choices.splice(index, 1)
            },
            editQuestionModal(question) {
                this.isEdit = true
                this.form.id = question.id
                this.form.choices = question.choices
                this.form.answer = question.answer
                this.form.question = question.question
                this.fileurl = question.img_url
                this.openModal()
            },
            addQuestionModal() {
                this.isEdit = false
                this.clearForm();
                this.openModal();
            },
            async deleteQuiz (id) {
                this.isLoading = true
                await this.$store.dispatch('quiz/deleteQuiz', { id: id })
                this.getQuizzes()
                this.isLoading = false
            },
            confirmDelete (id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Question will be deleted",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteQuiz(id)
                    }
                }) 
            },
            openModal() {
                this.$modal.show('form')
            },
            closeModal() {
                this.$modal.hide('form')
            },
            getRole() {
                return this.app.is_admin
            },
            addChoices() {
                this.form.choices.push({
                    choice: ''
                })
            },
            fileChange() {
                this.quiz_img = event.target.files[0]
                this.filename = event.target.files[0].name
                this.fileurl = URL.createObjectURL(this.quiz_img)
            },
        },
        created() {
            this.form.id = this.material.id
            this.getQuizzes()
        }
    }
</script>