<template>
    <div class="text-gray-900 bg-gray-200 vld-parent">
        <loading :active.sync="isLoading" 
            :can-cancel="false" 
            :is-full-page="fullPage">
        </loading>
        <div class="p-4 flex justify-between items-center">
            <div>
                <h1 class="text-4xl font-bold fali-color">
                    {{ section.name }}
                </h1>
                <p class="flex items-center text-gray-700 font-bold hover:text-orange-500"><svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg><a href="/sections">Back to Sections</a></p>
            </div>
            <div class="flex items-center">
                <div class="relative text-gray-600 mr-4">
                    <input v-model="search" class="border border-orange-500 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                    type="search" name="search" placeholder="Search">
                    <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                            width="512px" height="512px">
                            <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                        </svg>
                    </div>
                    </button>
                </div>
                <a :href="'/reading-materials/create/'+section.id" class="focus:outline-none ml-auto fali-bg hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    <span>Add Materials</span>
                </a>
            </div>
        </div>
        <div class="px-3 py-4 flex justify-center">
            <table class="w-full text-md bg-white shadow-md rounded mb-4">
                <tbody>
                    <tr class="border-b">
                        <th class="text-left fali-color p-3 px-5"></th>
                        <th v-if="getRole()" class="text-left fali-color p-3 px-5">teacher</th>
                        <th></th>
                    </tr>
                    <tr v-for="material in materials.data" class="border-b bg-gray-100 hover:bg-orange-200">
                        <td class="p-3 px-5">
                            <div class="flex">
                                <img :src="material.img_url"  class="object-scale-down h-12">
                                <div class="pl-4">
                                    <p class="text-sm">Title: <input type="text" :value="material.title" class="bg-transparent font-bold text-orange-500 text-xl"></p>
                                    <p class="text-xs">Prepared By: <input type="text" :value="material.prepared_by.first_name+' '+material.prepared_by.last_name" class="bg-transparent font-bold text-orange-500"><br></p>
                                </div>
                            </div>
                        </td>
                        <td v-if="getRole()" class="p-3 px-5"><input type="text" :value="section.teacher.last_name+', '+section.teacher.first_name" class="bg-transparent"></td>
                        <td class="p-3 px-5 flex justify-end">
                            <a :href="`/list-quiz/${material.id}`" type="button" class="mr-3 text-sm bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                                Quiz
                            </a>
                            <a :href="'/reading-materials/edit/'+material.id" type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                Edit
                            </a>
                            <button @click="confirmDelete(material.id)" type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex px-3">
           <paginate
                :page-count="pagination.meta.last_page"
                :click-handler="getMaterials"
                :prev-text="`<i class='fas fa-angle-left'></i><b class='focus:outline-none'> Prev</b>`"
                :next-text="`<b class='focus:outline-none'>Next </b><i class='fas fa-angle-right'></i>`"
                :container-class="'pagination'"
                class="flex justify-end focus:outline-none ml-auto"
                prev-class="text-sm mr-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                next-class="text-sm ml-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"  
                page-link-class="text-sm mt-10 mx-2 hover:bg-orange-700 text-bg-gray-800 py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                active-class="text-sm fali-bg hover:bg-orange-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                >
            </paginate>
        </div>
        <modal name="sub-form" draggable=".window-header" :height="'auto'" :width="'90%'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">Create Story</p>
            </div>
        </modal>
        <modal name="form" draggable=".window-header" :height="'auto'" :width="'90%'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">Create Story</p>
                <button :disabled="show" class="ml-auto text-white focus:outline-none" @click="closeModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div class="flex relative">
                <transition name="fade">
                    <div v-if="show" class="absolute top-0 w-full bg-orange-300" style="z-index: 5000; height: 450px">
                        <div class="flex items-center justify-between mt-4">
                            <div class='w-full px-3 mb-4'>
                                <label class='block uppercase tracking-wide text-orange-500 text-xl font-bold mb-2' >Important Terms</label>
                            </div>
                        </div>
                        <div class="flex justify-between mt-4">
                            <div class="w-1/2">
                                <div class='w-full px-3 mb-4'>
                                    <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Word</label>
                                    <input v-model="termForm.word" class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' type='text'  required />
                                </div>
                                <div class='w-full px-3 mb-4'>
                                    <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Definition</label>
                                    <textarea v-model="termForm.definition" class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' type='text'  required />
                                </div>
                                <div class="w-full">
                                    <div class="flex w-full items-center justify-center bg-grey-700">
                                        <label class="w-64 flex flex-col items-center px-4 py-2 border-orange-500 bg-white hover:bg-orange-500 text-orange-500 hover:text-white rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer">
                                            <svg class="w-8 h-8 bg-grey-700" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                                            </svg>
                                            <span class="mt-1 text-sm leading-normal">{{ termForm.file_url != '' ? 'Change Image' : 'Select Image' }}</span>
                                            <input type='file' class="hidden" @change="termFileChange" accept='image/*'/>
                                        </label>
                                    </div>
                                    <div class="flex w-full items-center justify-center bg-grey-700 pt-2">
                                        <button @click="addTerm" class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-white" viewBox="0 0 1000 1000">
                                                <path fill="#ffffff" d="M235.64 12.03c-25.05 4.4-53.92 19.5-69.41 36.52-11.66 12.81-21.8 30.02-27.34 46.47l-5.16 15.49-.57 378.04-.38 378.23H10l1.34 11.86c3.25 28.3 18.55 60.04 37.48 77.06 12.81 11.66 30.02 21.8 46.47 27.34l15.49 5.16h533.5l15.49-5.16c16.45-5.54 33.66-15.68 46.47-27.34 19.12-17.4 34.8-49.72 37.67-78.21l1.34-12.43-10.52 4.02-10.52 4.21-2.1 12.43c-6.12 36.33-37.48 70.18-73.81 79.74-12.62 3.44-39.58 3.44-52.58-.19-39.2-10.33-69.99-45.32-74.38-84.71L520 867.75l-183-.57-183-.38-.96-10.13c-.57-5.35-.76-174.39-.38-375.17.57-402.13-.38-371.16 12.62-396.78 8.03-16.06 26.01-34.04 42.07-42.07 25.43-12.81 4.21-12.05 304.61-12.43 150.11-.38 272.87 0 272.87.76 0 .57-3.06 3.25-6.88 5.74-12.81 8.8-30.59 30.21-38.82 46.66-13.96 28.11-13.58 23.52-13.58 184.53v143.96l8.79 3.63c4.78 2.1 9.18 3.82 9.56 3.82.38 0 .77-59.66.77-132.71V153.9l7.27-1.15c3.82-.57 56.22-.96 116.07-.96h115.5l6.5-.19-1.15-15.3c-4.59-59.28-40.92-104.6-97.91-121.62-10.9-3.25-28.87-3.63-328.9-3.82-174.58-.17-321.44.4-326.41 1.17zm659.13 24.86c15.68 5.93 35.38 19.31 45.89 31.17 10.52 12.05 20.84 31.36 24.86 46.47 5.16 20.08 18.36 17.97-109.19 17.97H744.28l1.15-7.27c7.46-41.5 38.43-77.44 78.21-90.26 19.31-6.12 51.63-5.16 71.13 1.92zM506.6 904.45c7.27 21.8 20.46 41.69 35.57 53.92 6.12 4.78 11.09 9.37 11.09 9.94.19.57-98.09.96-218.18.77-238.64-.38-224.68.19-249.16-11.66-22.56-10.9-48.38-43.03-52.01-64.63l-.96-6.31 233.86.19 233.86.19 5.93 17.59z"/>
                                                <path fill="#ffffff" d="M569.32 95.78c-23.9 8.41-41.3 27.92-46.27 51.06l-1.34 5.74-153.36.57-153.36.38V274h19.12V172.66l31.17.38 30.98.57.19 27.15c.19 15.11.38 28.68.57 30.21.19 2.1 2.68 2.87 9.75 2.87h9.56v-61.19l102.69.38 102.68.57 1.15 5.74c4.21 19.5 18.93 37.86 37.86 47.23 11.66 5.74 14.15 6.31 30.98 6.31 15.68 0 19.7-.76 29.07-5.16 15.11-7.07 27.15-18.74 34.61-33.85 5.55-11.47 6.12-14.15 6.12-30.79s-.57-19.31-6.12-30.79c-7.46-15.11-19.5-26.96-34.61-33.85-14.54-6.67-37.1-7.82-51.44-2.66zm37.86 18.74c19.31 5.74 36.14 28.3 36.14 48.57 0 25.81-25.81 51.63-51.63 51.63-26.01 0-51.63-25.62-51.63-51.63 0-19.7 15.49-41.3 34.42-47.81 13-4.58 19.31-4.58 32.7-.76zM601.25 422.19c-32.32 6.12-66.35 21.23-93.89 41.88-36.71 27.73-62.15 63.68-77.25 108.8-8.8 26.58-11.09 45.51-9.94 79.36 1.15 34.99 6.5 56.79 21.03 87.2 52.39 108.23 179.75 156.03 289.89 108.61 16.63-7.27 43.41-23.71 55.64-34.42l6.69-5.93 90.83 90.83 91.02 90.64 7.08-7.27 7.08-7.07-90.64-90.64-90.64-90.64 8.22-10.33c80.12-98.29 61.96-244.19-40.16-320.48-19.7-14.72-52.58-30.6-76.68-37.1-16.06-4.21-23.71-4.97-51.44-5.54-22.55-.38-36.89.19-46.84 2.1zm92.17 22.57c37.09 9.75 68.65 28.3 95.61 56.41 18.55 19.5 27.53 32.32 38.82 56.41 14.15 30.02 17.21 44.56 17.21 84.52 0 30.02-.57 36.52-4.4 50.67-19.89 73.04-74.58 127.73-147.62 147.62-14.15 3.82-20.65 4.4-50.67 4.4-39.97 0-54.5-3.06-84.52-17.21-24.09-11.28-36.9-20.27-56.41-38.82-27.92-26.96-46.47-58.13-56.6-95.61-4.4-16.45-4.97-22.18-4.97-50.1 0-26.2.57-34.42 4.02-48 20.08-79.17 82.8-138.63 162.54-153.74 23.12-4.2 63.47-2.67 86.99 3.45z"/>
                                            </svg>
                                            <span class="ml-2">{{termIndex == null ? 'Add Term' : 'Update Term'}}</span>
                                        </button>
                                        <button v-show="termIndex !=  null" @click="cleanTermForm()" class="ml-2 focus:outline-none bg-red-700 hover:bg-red-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                            <span>Cancel</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-1/2" style="margin-top: -70px">
                                <div class="w-full pr-4">
                                    <div class="shadow overflow-hidden rounded border-b border-gray-200">
                                        <table class="w-full bg-white">
                                        <thead class="bg-orange-500 text-white">
                                            <tr>
                                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm"></th>
                                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Word</th>
                                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-gray-700">
                                            <tr class="w-full" v-for="(term, index) in importantTerms" :key="index">
                                                <td class="w-1/6 text-left py-3 px-4" @click="editTerm(term, index)">
                                                    <img :src="term.file_url" alt="" width="50px">
                                                </td>
                                                <td class="w-3/6text-left py-3 px-4" @click="editTerm(term, index)">
                                                    <div class="w-full">
                                                        <p class="font-bold text-orange-500">
                                                            {{ term.word }}
                                                        </p>
                                                        <p class="truncate" :title="term.definition">
                                                            {{term.definition | truncate(20, '...')}}
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="w-2/6 text-left py-3 px-4">
                                                    <div class="flex justify-end">
                                                        <button @click="removeTerm(index, term)" class="hover:text-red-500 text-red-700 focus:outline-none">
                                                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path><line x1="18" y1="9" x2="12" y2="15"></line><line x1="12" y1="9" x2="18" y2="15"></line></svg>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
                <div class="personal w-1/2 border-t border-gray-400 pt-4 my-auto">
                    <div class="w-full">
                        <div class="flex w-full items-center justify-center bg-grey-700">
                            <label class="w-64 flex flex-col items-center px-4 py-2 border-orange-500 bg-white hover:bg-orange-500 text-orange-500 hover:text-white rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer">
                                <svg class="w-8 h-8 bg-grey-700" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                                </svg>
                                <span class="mt-1 text-sm leading-normal">{{ fileurl != '' ? 'Change Image' : 'Select Image' }}</span>
                                <input type='file' class="hidden" @change="fileChange" accept='image/*'/>
                            </label>
                        </div>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <div class='w-full px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Title</label>
                            <input v-model="form.title" class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' type='text'  required>
                        </div>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <div class='w-full px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Story</label>
                            <vue-editor v-model="form.story" :editor-toolbar="customToolbar"/>
                        </div>
                    </div>
                     <div class="flex justify-center mt-3 mb-4">
                        <div>
                            <button v-if="!isLoading" @click="saveReadingMaterial" class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                <span>{{isEdit ? 'Update' : 'Save'}} Reading Material</span>
                            </button>
                            <button v-else disabled class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                <span>Saving....</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-1/2 px-4">
                    <p class="text-2xl font-bold text-orange-500">Preview:</p>
                    <div class="border border-orange-500 w-full rounded pb-4">
                        <div class="bg-orange-200 py-4">
                            <p v-if="fileurl == ''" class="ml-4 text-gray-800 font-bold">This Image is sample only please upload some to change</p>
                            <img :src="fileurl ? fileurl : '/images/sample.png'" class="object-contain h-48 w-full ...">
                        </div>
                        <div class="text-center text-xl py-4 px-4 font-bold w-full">
                            <p>{{ form.title }}</p>
                        </div>
                        <div v-html="form.story" class="py-8 px-4" style="max-height: 170px; height: 150px;overflow-y: scroll">
                        </div>
                    </div>
                    <div class="pt-2 flex justify-center">
                        <button @click="show = !show" class="focus:outline-none fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-white" viewBox="0 0 1000 1000">
                                <path fill="#ffffff" d="M235.64 12.03c-25.05 4.4-53.92 19.5-69.41 36.52-11.66 12.81-21.8 30.02-27.34 46.47l-5.16 15.49-.57 378.04-.38 378.23H10l1.34 11.86c3.25 28.3 18.55 60.04 37.48 77.06 12.81 11.66 30.02 21.8 46.47 27.34l15.49 5.16h533.5l15.49-5.16c16.45-5.54 33.66-15.68 46.47-27.34 19.12-17.4 34.8-49.72 37.67-78.21l1.34-12.43-10.52 4.02-10.52 4.21-2.1 12.43c-6.12 36.33-37.48 70.18-73.81 79.74-12.62 3.44-39.58 3.44-52.58-.19-39.2-10.33-69.99-45.32-74.38-84.71L520 867.75l-183-.57-183-.38-.96-10.13c-.57-5.35-.76-174.39-.38-375.17.57-402.13-.38-371.16 12.62-396.78 8.03-16.06 26.01-34.04 42.07-42.07 25.43-12.81 4.21-12.05 304.61-12.43 150.11-.38 272.87 0 272.87.76 0 .57-3.06 3.25-6.88 5.74-12.81 8.8-30.59 30.21-38.82 46.66-13.96 28.11-13.58 23.52-13.58 184.53v143.96l8.79 3.63c4.78 2.1 9.18 3.82 9.56 3.82.38 0 .77-59.66.77-132.71V153.9l7.27-1.15c3.82-.57 56.22-.96 116.07-.96h115.5l6.5-.19-1.15-15.3c-4.59-59.28-40.92-104.6-97.91-121.62-10.9-3.25-28.87-3.63-328.9-3.82-174.58-.17-321.44.4-326.41 1.17zm659.13 24.86c15.68 5.93 35.38 19.31 45.89 31.17 10.52 12.05 20.84 31.36 24.86 46.47 5.16 20.08 18.36 17.97-109.19 17.97H744.28l1.15-7.27c7.46-41.5 38.43-77.44 78.21-90.26 19.31-6.12 51.63-5.16 71.13 1.92zM506.6 904.45c7.27 21.8 20.46 41.69 35.57 53.92 6.12 4.78 11.09 9.37 11.09 9.94.19.57-98.09.96-218.18.77-238.64-.38-224.68.19-249.16-11.66-22.56-10.9-48.38-43.03-52.01-64.63l-.96-6.31 233.86.19 233.86.19 5.93 17.59z"/>
                                <path fill="#ffffff" d="M569.32 95.78c-23.9 8.41-41.3 27.92-46.27 51.06l-1.34 5.74-153.36.57-153.36.38V274h19.12V172.66l31.17.38 30.98.57.19 27.15c.19 15.11.38 28.68.57 30.21.19 2.1 2.68 2.87 9.75 2.87h9.56v-61.19l102.69.38 102.68.57 1.15 5.74c4.21 19.5 18.93 37.86 37.86 47.23 11.66 5.74 14.15 6.31 30.98 6.31 15.68 0 19.7-.76 29.07-5.16 15.11-7.07 27.15-18.74 34.61-33.85 5.55-11.47 6.12-14.15 6.12-30.79s-.57-19.31-6.12-30.79c-7.46-15.11-19.5-26.96-34.61-33.85-14.54-6.67-37.1-7.82-51.44-2.66zm37.86 18.74c19.31 5.74 36.14 28.3 36.14 48.57 0 25.81-25.81 51.63-51.63 51.63-26.01 0-51.63-25.62-51.63-51.63 0-19.7 15.49-41.3 34.42-47.81 13-4.58 19.31-4.58 32.7-.76zM601.25 422.19c-32.32 6.12-66.35 21.23-93.89 41.88-36.71 27.73-62.15 63.68-77.25 108.8-8.8 26.58-11.09 45.51-9.94 79.36 1.15 34.99 6.5 56.79 21.03 87.2 52.39 108.23 179.75 156.03 289.89 108.61 16.63-7.27 43.41-23.71 55.64-34.42l6.69-5.93 90.83 90.83 91.02 90.64 7.08-7.27 7.08-7.07-90.64-90.64-90.64-90.64 8.22-10.33c80.12-98.29 61.96-244.19-40.16-320.48-19.7-14.72-52.58-30.6-76.68-37.1-16.06-4.21-23.71-4.97-51.44-5.54-22.55-.38-36.89.19-46.84 2.1zm92.17 22.57c37.09 9.75 68.65 28.3 95.61 56.41 18.55 19.5 27.53 32.32 38.82 56.41 14.15 30.02 17.21 44.56 17.21 84.52 0 30.02-.57 36.52-4.4 50.67-19.89 73.04-74.58 127.73-147.62 147.62-14.15 3.82-20.65 4.4-50.67 4.4-39.97 0-54.5-3.06-84.52-17.21-24.09-11.28-36.9-20.27-56.41-38.82-27.92-26.96-46.47-58.13-56.6-95.61-4.4-16.45-4.97-22.18-4.97-50.1 0-26.2.57-34.42 4.02-48 20.08-79.17 82.8-138.63 162.54-153.74 23.12-4.2 63.47-2.67 86.99 3.45z"/>
                            </svg>
                            <span class="ml-2">{{show ? 'Close Important Terms':'Open Important Terms'}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { VueEditor } from "vue2-editor";

    export default {
        components: { VueEditor },

        data: () => ({
            isLoading: false,
            fullPage: true,
            isEdit: false,
            search: '',
            story_img: null,
            filename: '',
            fileurl:'',
            show: false,
            termIndex: null,
            form: {
                id: '',
                title: '',
                story: '',
            },
            termForm: {
                id: '',
                word:'',
                file:null,
                file_url:'',
                definition:''
            },
            importantTerms: [],
            customToolbar: [
                [{ 'align': [] }]
            ]
        }),
        computed: {
            ...mapGetters({
                errors: 'readingMaterial/errors',
                pagination: 'readingMaterial/pagination',
                materials: 'readingMaterial/materials',
                terms: 'term/terms'
            }),
        },
        watch: {
            search: _.debounce(function(newVal){
                this.getMaterials(1)
            }, 200)
        },
        props: {
            section: {
                type: Object,
            },
        },
        methods: {
            addMaterialModal() {
                this.isEdit = false
                this.form.title = ''
                this.form.story = ''
                this.filename = ''
                this.form.id = ''
                this.pdf = null
                this.fileurl = ''
                this.importantTerms = [];
                this.openModal();
            },
            async getMaterials(page = 1) {
                await this.$store.dispatch('readingMaterial/getMaterials', {
                    params: {
                        page: page,
                        search: this.search,
                        id: this.section.id
                    }
                })
            },
            async saveReadingMaterial() {
                this.isLoading = true
                let formData = new FormData();
                formData.append('story_img', this.story_img);
                formData.append('title', this.form.title);
                formData.append('story', this.form.story);
                formData.append('id', this.section.id);
                formData.append('url', this.fileurl);
                if(this.isEdit) {
                    await this.$store.dispatch('readingMaterial/updateReadingMaterial', formData)
                    if(Object.keys(this.errors).length == 0) {
                        this.getMaterials();
                        this.closeModal();
                    }
                } else {
                    var id;
                    await this.$store.dispatch('readingMaterial/addReadingMaterial', formData).then(response => {
                        id = response.data.id
                    })
                    var ctr;
                    for (ctr = 0; ctr < this.importantTerms.length; ctr++) {
                        formData.append('id', id);
                        formData.append('term_img', this.importantTerms[ctr].file);
                        formData.append('word', this.importantTerms[ctr].word);
                        formData.append('definition', this.importantTerms[ctr].definition);
                        await this.$store.dispatch('term/saveTerm', formData)
                    }
                    if(Object.keys(this.errors).length == 0) {
                        this.getMaterials();
                        this.closeModal();
                    }
                }
                this.isLoading = false
            },
            async createTerms(id) {
                
            },
            editMaterialModal(material) {
                this.isEdit = true
                this.story_img = null
                this.form.id = material.id
                this.fileurl = material.img_url
                this.form.title = material.title
                this.form.story = material.story
                this.getTerms(material.id)
                this.openModal()
            },
            confirmDelete (id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Pdf will be deleted",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteMaterial(id)
                    }
                }) 
            },
            async deleteMaterial (id) {
                this.isLoading = true
                await this.$store.dispatch('readingMaterial/deleteMaterial', { id: id })
                this.getMaterials()
                this.isLoading = false
            },
            openModal() {
                this.show = false
                this.$modal.show('form')
            },
            closeModal() {
                this.$modal.hide('form')
            },
            getRole() {
                return this.app.is_admin
            },
            fileChange() {
                this.story_img = event.target.files[0]
                this.filename = event.target.files[0].name
                this.fileurl = URL.createObjectURL(this.story_img)
            },
            termFileChange() {
                this.termForm.file = event.target.files[0]
                this.termForm.file_url = URL.createObjectURL(this.termForm.file)
            },
            async addTerm() {
                if(this.isEdit) {
                    let formData = new FormData();
                    formData.append('term_img', this.termForm.file);
                    formData.append('word', this.termForm.word);
                    formData.append('definition', this.termForm.definition);
                    if(this.termIndex != null) {
                       formData.append('id', this.termForm.id);
                       await this.$store.dispatch('term/updateTerm', formData)
                    } else {
                        formData.append('id', this.form.id);
                        await this.$store.dispatch('term/saveTerm', formData)
                    }
                }
                if(this.termIndex != null) {
                    this.importantTerms.splice(this.termIndex, 1)
                }
                this.importantTerms.push(this.termForm)
                this.cleanTermForm()    
            },
            async removeTerm(index, term) {
                this.importantTerms.splice(index, 1)
                if(this.isEdit) {
                    await this.$store.dispatch('term/deleteTerm', {id: term.id})
                }
            },
            cleanTermForm() {
                this.termForm = {
                    word:'',
                    file:null,
                    file_url:'',
                    definition:''
                }
                this.termIndex = null
            },
            editTerm(term, index) {
                if(this.isEdit) {
                    this.termForm.id = term.id
                }
                this.termIndex = index
                this.termForm.word = term.word
                this.termForm.file_url = term.file_url
                this.termForm.definition = term.definition 
            },
            async getTerms(id) {
                await this.$store.dispatch('term/getTerms', {id: id})
                this.importantTerms = this.terms.data
            }
        },
        created() {
            this.getMaterials()
        }
    }
</script>

<style lang="css">
    .ql-align-right {
        text-align: right;
    }
    .ql-align-left {
        text-align: left;
    }
    .ql-align-center {
        text-align: center;
    }
    .ql-align-justify {
        text-align: justify;
    }
    .ql-container {
        max-height: 200px; overflow-y: scroll
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>