<template>
    <div>
        <div class="p-4 flex justify-between items-center">
            <div>
                <h1 class="text-4xl font-bold fali-color">
                    Users Logs
                </h1>
            </div>
        </div>
        <div class="w-full">
            <table class="w-full text-md bg-white shadow-md rounded mb-4">
                <tbody>
                    <tr class="border-b">
                        <th class="text-left fali-color p-3 px-5">Type</th>
                        <th class="text-left fali-color p-3 px-5">Description</th>
                        <th class="text-left fali-color p-3 px-5">User</th>
                        <th class="text-left fali-color p-3 px-5">Date & time</th>
                        <th></th>
                    </tr>
                    <tr v-for="log in logs" class="border-b bg-gray-100 hover:bg-orange-200">
                        <td class="p-3 px-5">{{log.log_name}}</td>
                        <td class="p-3 px-5">{{log.description}}</td>
                        <td class="p-3 px-5">{{log.properties.first_name != undefined ? log.properties.first_name+' '+log.properties.last_name : ''}}</td>
                        <td class="p-3 px-5">{{setDate(log.created_at)}}</td>
                    </tr>
                    <!-- <tr v-for="log in logs.data" class="border-b hover:bg-orange-100 bg-gray-100 hover:bg-orange-200">
                        <td class="p-3 px-5"><input type="text" :value="log.log_name" class="bg-transparent"></td>
                        <td class="p-3 px-5"><input type="text" :value="log.description" class="bg-transparent"></td>
                        <td class="p-3 px-5" v-if="log.proerties != []"><input type="text" :value="`${log.properties.first_name} ${log.properties.first_name}`" class="bg-transparent"></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    data () {
        return {
            logs: {}
        }
    },

    methods: {
        openModal() {
            this.$modal.show('notify')
            this.unreadCount = 0
        },
        setDate(date) {
            return moment(String(date)).format('MM/DD/YYYY hh:mm')
        },
        async getLogs() {
            var response = await axios.get(`/user-logs`)
            this.logs = response.data
        },
    },

    created() {
        this.getLogs();
    }
}
</script>
