<template>
    <div>
        <a @click="openModal()">
            <notification-bell
                :size="30"
                :count="unreadCount"
                counterLocation="upperRight"
                counterStyle="roundRectangle"
                counterBackgroundColor="#FF0000"
                counterTextColor="#FFFFFF"
                iconColor="#ffffff"
            />
        </a>
        
        <modal name="notify" draggable=".window-header" :height="'400px'" :width="'40%'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">Recent Student Who take Test</p>
                <button class="ml-auto text-white focus:outline-none" @click="closeModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div class="overflow-x-auto p-4" style="height: 380px">
                <div class="flex flex-col overflow-x-auto">
                    <div v-for="notification in notifications" class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-orange-500">
                        <span class="inline-block align-middle mr-8">
                            <b class="capitalize">{{ notification.student.first_name+' '+notification.student.last_name }}</b> is {{ notification.event }} - {{ notification.reading_material.title }} <b v-show="!notification.is_seen" class="capitalize">NEW!</b>
                        </span><br>
                        <p class="mr-5">{{ setDate(notification.created_at) }}</p>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
import NotificationBell from 'vue-notification-bell'
import moment from 'moment'

export default {
    components: {
        NotificationBell // Registering Component
    },
    data () {
        return {
            isOpen: false,
            unreadCount: 0,
            notifications: {}
        }
    },
    methods: {
        openModal() {
            this.$modal.show('notify')
            this.unreadCount = 0
        },
        closeModal() {
            this.$modal.hide('notify')
            this.seenNotifications()
        },
        async getNotifications() {
            var response = await axios.get(`/check-notification`)
            this.unreadCount = 0;
            this.notifications = response.data.data
            for(var ctr = 0; ctr < response.data.data.length; ctr++) {
                if(!response.data.data[ctr].is_seen) {
                    this.unreadCount = this.unreadCount + 1
                }
            }
        },
        setDate(date) {
            return moment(String(date)).format('MM/DD/YYYY hh:mm')
        },
        async seenNotifications() {
            await axios.get(`/read-notification`)
        }
    },

    created() {
        setInterval(function(){
            this.getNotifications()
            console.log('loop')
        }.bind(this), 60000);
    },

    mounted() {
        this.getNotifications()
    }
}
</script>
