<template>
    <div class="text-gray-900 bg-gray-200 vld-parent">
       <input ref="fileUpload" type='file' @change='fileChange'>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import Docxtemplater from "docxtemplater";
    import PizZip from "pizzip";
    import PizZipUtils from "pizzip/utils/index.js";

    export default {
        data: () => ({

        }),
        watch: {

        },
        computed: {

        },
        methods: {
            readFileInputEventAsArrayBuffer(event, callback) {
                var file = event.target.files[0];

                var reader = new FileReader();
                
                reader.onload = function(loadEvent) {
                    var arrayBuffer = loadEvent.target.result;
                    callback(arrayBuffer);
                };
                
                reader.readAsArrayBuffer(file);
            },
            displayResult(result) {
                console.log(result)
            },
            getImages(string) {
                
            },
            fileChange() {
                var url = this.$refs.fileUpload.value;
                this.readFileInputEventAsArrayBuffer(event, function(arrayBuffer) {
                    // Mammoth.extractRawText({arrayBuffer: arrayBuffer})
                    Mammoth.convertToHtml({arrayBuffer: arrayBuffer})
                    .then(function(result){
                        var html = result.value; // The generated HTML
                        var messages = result.messages
                        
                        //TITLE
                        // var index = html.indexOf("\n");
                        // if (index === -1) index = undefined;
                        // var title = html.substring(0, index);

                        //IMAGES
                        // const imgRex = /<img.*?src="(.*?)"[^>]+>/g;
                        // const images = [];
                        //     let img;
                        //     while ((img = imgRex.exec(html))) {
                        //         images.push(img[1]);
                        //     }
                        // console.log(images)

                        //SENTENCES
                        // const imgRex = /<p>(.*?)<\/p>/g;
                        // const sentences = [];
                        //     let sentence;
                        //     while ((sentence = imgRex.exec(html))) {
                        //         if(sentence[1].charAt(0) != '<')
                        //         sentences.push(sentence[1]);
                        //     }
                        console.log(html)

                        // var totalText = result.value;
                        // var startPos = totalText.indexOf("</strong></p>") + "</strong></p>".length;
                        // var endPos = totalText.indexOf("<br");
                        // var targetText = totalText.substring(startPos,endPos).trim();
                        // var title = targetText.replace("<p><strong>", "");
                        // title = title.replace("</p></strong>", "");
                        
                        // console.log(title); // Any messages, such as warnings during conversion
                    })
                    .done();
                });
            }
        },
        created() {

        }
    }
</script>
