<template>
    <div class="text-gray-900 bg-gray-200 vld-parent">
        <loading :active.sync="isLoading" 
            :can-cancel="false" 
            :is-full-page="fullPage">
        </loading>
        <div class="p-4 flex justify-between items-center">
            <div>
                <h1 class="text-4xl font-bold fali-color">
                    Users Accounts
                </h1>
            </div>
            <div class="flex items-center">
                <div class="inline-block relative w-64 mx-4">
                    <select v-model="sortBy" @change="getUsers(page = 1)" class="block appearance-none w-full bg-white border border-orange-500 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                        <option value="" disabled selected>Sort By</option>
                        <option value="">All</option>
                        <option value="Administrator">Administrator</option>
                        <option value="Teacher">Teacher</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
                <div class="relative text-gray-600 mr-4">
                    <input v-model="search" class="border border-orange-500 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                    type="search" name="search" placeholder="Search">
                    <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                            width="512px" height="512px">
                            <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                        </svg>
                    </div>
                    </button>
                </div>
                <button @click="createUserModal" class="focus:outline-none ml-auto fali-bg hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                    <span>Create Account</span>
                </button>
            </div>
        </div>
        <div class="px-3 py-4 flex justify-center">
            <table class="w-full text-md bg-white shadow-md rounded mb-4">
                <tbody>
                    <tr class="border-b">
                        <th class="text-left fali-color p-3 px-5">Full Name</th>
                        <th class="text-left fali-color p-3 px-5">Username</th>
                        <th class="text-left fali-color p-3 px-5">Email</th>
                        <th class="text-left fali-color p-3 px-5">Role</th>
                        <th></th>
                    </tr>
                    <tr v-for="user in users.data" class="border-b hover:bg-orange-100 bg-gray-100 hover:bg-orange-200">
                        <td class="p-3 px-5"><input type="text" :value="user.name" class="bg-transparent"></td>
                        <td class="p-3 px-5"><input type="text" :value="user.username" class="bg-transparent"></td>
                        <td class="p-3 px-5"><input type="text" :value="user.email" class="bg-transparent"></td>
                        <td class="p-3 px-5"><input type="text" :value="user.role" class="bg-transparent"></td>
                        <td class="p-3 px-5 flex justify-end">
                            <button @click="editUserModal(user)" type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                Edit
                            </button>
                            <button @click="confirmDelete(user.id)" type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline flex">
                                <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mb-1 mr-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex px-3">
           <paginate
                :page-count="pagination.meta.last_page"
                :click-handler="getUsers"
                :prev-text="`<i class='fas fa-angle-left'></i><b class='focus:outline-none'> Prev</b>`"
                :next-text="`<b class='focus:outline-none'>Next </b><i class='fas fa-angle-right'></i>`"
                :container-class="'pagination'"
                class="flex justify-end focus:outline-none ml-auto"
                prev-class="focus:outline-none text-sm mr-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                next-class="focus:outline-none text-sm ml-2 fali-bg hover:bg-orange-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"  
                page-link-class="focus:outline-none text-sm mt-10 mx-2 hover:bg-orange-700 text-bg-gray-800 py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                active-class="focus:outline-none text-sm fali-bg hover:bg-orange-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                >
            </paginate>
        </div>
        <modal name="form" draggable=".window-header" :height="'auto'" :width="'80%'" :clickToClose="false">
            <div class="window-header fali-bg flex py-2 px-2">
                <p class="font-bold text-white">User Form</p>
                <button class="ml-auto text-white focus:outline-none" @click="closeModal">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                </button>
            </div>
            <div>
                <div class="personal w-full border-t border-gray-400 pt-4 my-auto">
                    <div class="flex items-center justify-between mt-4">
                        <div class='w-full md:w-1/4 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >First Name<span class="text-red-500">*</span></label>
                            <input v-model="form.first_name" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-full md:w-1/4 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Middle Name<span class="text-red-500">*</span></label>
                            <input v-model="form.middle_name" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-full md:w-1/4 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Last Name<span class="text-red-500">*</span></label>
                            <input v-model="form.last_name" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-full md:w-1/3 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Gender<span class="text-red-500">*</span></label>
                            <div class="flex">
                                <label class="inline-flex items-center mt-3">
                                    <input @click="form.gender = 1" type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" :checked="form.gender == 1"><span class="ml-2 text-gray-700 font-bold mr-8">Male</span>
                                </label>
                                <label class="inline-flex items-center mt-3">
                                    <input @click="form.gender = 0" type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" :checked="form.gender == 0"><span class="ml-2 text-gray-700 font-bold">Female</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <div class='w-full md:w-1/4 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Purok/Street<span class="font-black text-red-500">*</span></label>
                            <input v-model="form.prk" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-full md:w-1/4 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Barangay<span class="font-black text-red-500">*</span></label>
                            <input v-model="form.brgy" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-full md:w-1/4 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >City<span class="font-black text-red-500">*</span></label>
                            <input v-model="form.city" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                        </div>
                        <div class='w-1/4 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Birth Date<span class="text-red-500">*</span></label>
                            <input v-model="form.birth_date" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='date'  required>
                        </div>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <div class='w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Register As<span class="text-red-500">*</span></label>
                            <select v-model="form.registerAs" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                                <option value="Administrator">Administrator</option>
                                <option value="Teacher">Teacher</option>
                            </select>
                        </div>
                        <div class='w-1/2 px-3 mb-4' v-show="!isEdit">
                            <label v-show="form.registerAs == 'Teacher'" class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Section</label>
                            <select v-show="form.registerAs == 'Teacher'" v-model="form.section_id" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                                <option value="0" selected></option>
                                <option v-for="section in sections" :value="section.id">{{ section.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class='w-full md:w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Username<span class="text-red-500">*</span></label>
                            <input v-on:change="checkUsername" v-model="form.username" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='text'  required>
                            <span v-if="checkFieldError('username')" class="invalid-feedback text-orange-500" role="alert">
                                <strong class="text-xs ml-2">The username has already been taken.</strong>
                            </span>
                            <span v-else class="invalid-feedback text-gray-800" role="alert">
                                <strong class="text-xs ml-2">username must be unique.</strong>
                            </span>
                        </div>
                        <div class='w-full md:w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >E-Mail<span class="text-red-500">*</span></label>
                            <input v-on:change="checkEmail" v-model="form.email" class='appearance-none block w-full bg-white text-gray-700 border border-orange-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='email'  required>
                            <span v-if="checkFieldError('email')" class="invalid-feedback text-orange-500" role="alert">
                                <strong class="text-xs ml-2">The email has already been taken.</strong>
                            </span>
                            <span v-else class="invalid-feedback text-gray-800" role="alert">
                                <strong class="text-xs ml-2">email must be unique.</strong>
                            </span>
                        </div>
                    </div>
                    <div v-if="!isEdit" class="flex items-center justify-between mt-4">
                        <div class='w-full md:w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Password<span class="text-red-500">*</span></label>
                            <input minlength="6" v-model="form.password" :class="isMatch() ? 'border-orange-400' : 'border-red-500'" class='appearance-none block w-full bg-white text-gray-700 border shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='password'  required>
                        </div>
                        <div class='w-full md:w-1/2 px-3 mb-4'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' >Re-Type Password<span class="text-red-500">*</span></label>
                            <input minlength="6" v-model="form.retypePassword" :class="isMatch() ? 'border-orange-400' : 'border-red-500'"  class='appearance-none block w-full bg-white text-gray-700 border shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-orange-500' type='password'  required>
                        </div>
                    </div>
                    <div class="flex justify-end mb-4">
                        <button :disabled="form.password != form.retypePassword" v-if="!isLoading" @click="saveUser" class="focus:outline-none ml-auto fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                            <span>{{isEdit ? 'Update' : 'Create'}} Account</span>
                        </button>
                        <button v-else disabled class="focus:outline-none ml-auto fali-bg hover:bg-orange-400 text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 mr-2"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                            <span>Saving....</span>
                        </button>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        data: () => ({
            isLoading: false,
            fullPage: true,
            messages: [],
            form: {
                id:'0',
                first_name: '',
                middle_name: '',
                last_name: '',
                username: '',
                email: '',
                password: '',
                gender:1,
                prk:'',
                brgy:'',
                city:'',
                birth_date:'',
                retypePassword: '',
                registerAs: '',
                section_id:''
            },
            search: '',
            sortBy: '',
            isEdit: false,
            message: '',
            sections: {},
        }),
        watch: {
            search: _.debounce(function(newVal){
                this.getUsers(1)
            }, 200)
        },
        computed: {
            ...mapGetters({
                errors: 'user/errors',
                users: 'user/users',
                pagination: 'user/pagination'
            }),
        },
        methods: {
            clearForm() {
                this.id = '0',
                this.form.first_name = '',
                this.form.middle_name = '',
                this.form.last_name = '',
                this.form.username = '',
                this.form.email = '',
                this.form.password = '',
                this.form.retypePassword = '',
                this.form.registerAs = '',
                this.form.birth_date = '',
                this.form.gender = 1,
                this.form.prk = '',
                this.form.brgy = '',
                this.form.city = '',
                this.form.section_id = 0
            },
            createUserModal() {
                this.isEdit = false
                this.clearForm()
                this.openModal()
            },
            editUserModal(user) {
                this.isEdit = true;
                this.form.id = user.id
                this.form.first_name = user.first_name
                this.form.last_name = user.last_name
                this.form.registerAs = user.role
                this.form.username = user.username
                this.form.email = user.email
                this.form.gender = user.gender
                this.form.prk = student.prk
                this.form.brgy = student.brgy
                this.form.city = student.city
                this.form.birth_date = user.birth_date
                this.openModal();
            },
            openModal() {
                this.$modal.show('form')
            },
            closeModal() {
                this.$modal.hide('form')
            },
            checkFields() {
                var message = [];
                if(this.form.first_name == ''){message.push('First Name')}
                if(this.form.middle_name == ''){message.push('Middle Name')}
                if(this.form.last_name == ''){message.push('Last Name')}
                if(this.form.registerAs == 0){message.push('User Role')}
                if(this.form.username == ''){message.push('Username')}
                if(this.form.email == ''){message.push('Email')}
                if(this.form.gender == null){message.push('Gender')}
                if(this.form.address == ''){message.push('Address')}
                if(!this.isEdit) {
                    if(this.form.password == ''){message.push('Password')}
                    if(this.form.retypePassword == ''){message.push('Re-Type Password')}
                }
                if(this.form.birth_date == ''){message.push('Birth Date')}
                this.messages = message;
                return
            },
            async getUsers(page = 1) {
                await this.$store.dispatch('user/getUsers', {
                    params: {
                        page: page,
                        sortBy: this.sortBy,
                        search: this.search
                    }
                })
            },
            async saveUser () {
                await this.checkFields();
                if(this.messages.length > 0) {
                    var message = '';
                    for(var ctr = 0; ctr < this.messages.length; ctr++) {
                        message = message +'*'+ this.messages[ctr] + '  '
                    }
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...Please Fill The Following',
                        text: message,
                    })
                    return
                }
                this.isLoading = true
                if(this.isEdit) {
                    await this.$store.dispatch('user/updateUser', this.form)
                    if(Object.keys(this.errors).length == 0) {
                        this.getUsers();
                        this.closeModal();
                    }
                } else {
                    await this.$store.dispatch('user/saveUser', this.form)
                    if(Object.keys(this.errors).length == 0) {
                        this.getUsers();
                        this.closeModal();
                    }
                }
                this.isLoading = false
            },
            async deleteUser (id) {
                this.isLoading = true
                await this.$store.dispatch('user/deleteUser', { id: id })
                this.getUsers()
                this.isLoading = false
            },
            confirmDelete (id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "User will be deleted",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteUser(id)
                    }
                }) 
            },
            checkFieldError(field) {
                if(field == 'email') {
                    if(this.errors.email == undefined) {
                        return false
                    } else {
                        return true
                    }
                } else {
                    if(this.errors.username == undefined) {
                        return false
                    } else {
                        return true
                    }
                }
            },
            isMatch() {
                if(this.form.password === '' || this.form.password === ''){
                    return true
                }
                if(this.form.password === this.form.retypePassword) {
                    return true
                } else {
                    return false
                }
            },
            async checkEmail(event){
                var response = await axios.get(`/check-email/${event.target.value}`)
                if(response.data) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Email already Exist',
                    })
                    this.form.email = ''
                }
            },
            async checkUsername(event){
                var response = await axios.get(`/check-username/${event.target.value}`)
                if(response.data) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Username already Exist',
                    })
                    this.form.username = ''
                }
            },
            async getSections() {
                var response = await axios.get('/getAvailableSections')
                this.sections = response.data
            }
        },

        created() {
            this.getUsers()
            this.getSections()
            this.checkFields()
        }
    }
</script>
